<h1><%= "#{current_user.email} Resumes" %></h1>

<p><%if @resumes.length > 0 %>
		<%@resumes.each do |resume| %>
			<%=resume.name%></br>
			<%=resume.description%></br></br>
		<%end%>
	<%end%>
</p>


